h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px dashed black;
    text-align: center;
}

h2{
    text-decoration: underline;
    text-align: center;
}

p{
    color: darkmagenta;
    font-size: large;
}

a{
    color: green;
    text-decoration: none;
}

img{
    border-radius: 50px;
}